#header_logo{
    height: 30px;
    width: auto;
}

#signature{
    height: 80px;
    width: auto;
}

#hawaii_video{
    height: 52vw;
    width: 100%;
}

/*#about_me_image{
	height: 150px;
	width: auto;
}*/
